.pageHeader {
    text-align: center blue;
}

.shop { 
    border: 1px dotted red;
    flex-basis: 30%;
}

.list {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
    
